.App {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;   /* 가운데 정렬 */
    box-sizing: border-box;
    padding: 20px;
    /* border: 1px solid gray; */
    display: flex;   /* 수평 배치 */
    flex-direction: column; /* 수직 배치 */
    gap: 30px; /* 자식요소간의 여백 */
}